<p>
  <strong>Email:</strong>
  <%= @users.email %>
</p>

<p>
  <strong>Postal_code:</strong>
  <%= @users.postal_code %>
</p>

<p>
  <strong>Address:</strong>
  <%= @users.address %>
</p>

<p>
  <strong>Self_description:</strong>
  <%= @users.self_description %>
</p>

<%= link_to 'Back', users_index_path %>
