<p>
  <strong><%= User.human_attribute_name(:email) %></strong><br />
  <%= @user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name(:postal_code) %></strong><br />
  <%= @user.postal_code %>
</p>

<p>
  <strong><%= User.human_attribute_name(:address) %></strong><br />
  <%= @user.address %>
</p>

<p>
  <strong><%= User.human_attribute_name(:self_description) %></strong><br />
  <%= @user.self_description %>
</p>

<br />

<%= link_to t('devise.shared.links.back'), users_path %>
